# Xcode
.DS_Store
*.swp
*.derivedData
*.xcuserstate
project.xcworkspace/
xcuserdata/
DerivedData/
build/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Configuration & Secrets
*.xcconfig
Ambrosia/Configs/Secrets.xcconfig
